<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>conflitos no campo</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <div id="main" class="main">
    <h1>conflitos no campo <div class="lang">
      <a @click="setLanguage('PT')" :class="{ active: (lang === 'PT') }">PT</a> |
      <a @click="setLanguage('EN')" :class="{ active: (lang === 'EN') }">EN</a>
    </div></h1>

    <div v-if="(lang === 'PT')" class="intro">
      Desde 1975 a organização não governamental <i>Comissão Pastoral da Terra</i> <a href="https://www.cptnacional.org.br/">CPT</a> registra os conflitos que envolvem os trabalhadores de campo no Brasil e denuncia a violência sofrida por eles.
O setor de documentação CPTs <i>Dom Tomás Balduino Centro de Documentação</i> <a href="http://goo.gl/TJ10G">CEDOC</a> coleta e sistematiza informações sobre violações de direitos humanos no campo.<br>

O conjunto de documentos do CEDOC contém, entre outras, mais de 310.000 páginas de documentos digitalizados referentes a mais de 25.000 conflitos registrados no banco de dados do CPT. São documentos preparados pelo CPT, entidades e movimentos de parceiros ou encontrados em jornais e revistas.<br>

Este site oferece uma visão geral de todos os documentos arquivados de 44 casos emblemáticos de conflitos de campo listados pelo CEDOC, complementados com informações adicionais para cada caso.<br>

 <br>

O uso dos documentos da coleção em publicações é gratuito, desde que sejam feitas referências.

    </div>

    <div v-if="(lang === 'EN')" class="intro">
      Since 1975 the non-governmental organization Pastoral Land Commission CPT records the conflicts that involve field workers in Brazil and denounces the violence suffered by them. 
The CPTs documentation sector Dom Tomás Balduino Documentation Center CEDOC collects and systematizes information on violations of human rights in the field. 

The set of documents of CEDOC contains amongst other more than 310,000 pages of scanned documents relating to more than 25,000 conflicts recorded in the CPT database. These are documents prepared by the CPT, entities and partner movements, or found in newspapers and magazines.

This website offers you an overview of all archived documents of 44 emblematic cases of field conflicts listed by CEDOC supplemented with additional information for each case.

The use of the documents of the collection in publications is free, as long as references are made.
    </div>

    <div v-for="(caseFolder, caseNumber) in index" class="case">
      <div class="spacer">
        {{ caseNumber }} &rarr;
      </div>

      <a v-for="caseDocument in caseFolder.documents" :href="caseDocument.link" target="_blank">
        <img :src="'https://drive.google.com/thumbnail?authuser=0&sz=w320&id=' + caseDocument.id" class="thumbnail" onerror="this.src='placeholder.png'">
      </a>

      <a class="external" v-for="externalLink in caseFolder.external" :href="externalLink.link" target="_blank">
        &#8599; {{ externalLink.title }}
      </a>
    </div>

    <div class="toolbar">
      <input type="range" min="1" max="5" value="2.5">
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
  <script src="main.js"></script>
</body>
</html>
